<div class="row">
	<div class="col-md-8" >
				    
	      <div class="image">
         <%= image_tag @pageant.image.url, class: "img-responsive center-block" if @pageant.image? %>
        </div>
    </br>
  <div align="center">
    <ul class="list-inline" id="links">
      
      <li>Add Contestant</li>
      <li>Edit</li>
      <!--<li><a href="#">Delete</a></li>-->
      <li>Delete</li>
      <!--<li><a href="#">Something...</a></li>-->
    </ul>
  </div>
  <!--Panel starts from here-->
  <div class="panel panel-default col-md-8">
    <div class="panel-body">
      <h4 align="center" class="panel-title"><b>Vote Created</b></h4>
    </div>
  <div class="panel-body">
          <h4 align="center"><%= @pageant.name %></h4>
          <h4 align="center"><%= @pageant.description  %></h4>
          <h4 align="center"><%= @pageant.category  %></h4>
          <h4 align="center"><b>Starting:</b> <%= @pageant.startdate.to_s %></h4>
          <h4 align="center"><b>Ending:</b> <%= @pageant.enddate.to_s %></h4>
          <h4 align="center"><b>Time Zone:</b> <%= @pageant.time_zone  %></h4>
		</div>
  </div>