<div align="center">
    <ul class="list-inline" id="links">
      
      <li><%= link_to "Add Contestant", new_pageant_contestant_path(@pageant) %></li>
      <li><%= link_to "Edit Vote", edit_pageant_path %></li>
      <!--<li><a href="#">Delete</a></li>-->
      <li>Delete</li>
      <!--<li><a href="#">Something...</a></li>-->
    </ul>
  </div>


<div class="panel panel-success">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-8">
        <%= image_tag @pageant.image_url  %>
        <div class="table-responsive">
          <table class="table">
            <tbody>
              <tr>
                <td><strong>Name</strong></td>
                <td><%= @pageant.name %></td>
              </tr> 
              <tr>
                <td><strong>Description</strong></td>
                <td><%= @pageant.description %></td>
              </tr>
              <tr>
                <td><strong>Category</strong></td>
                <td><%= @pageant.category %></td>
              </tr> 
              <tr>
                <td><strong>Start date</strong></td>
                <td><%= @pageant.startdate %></td>
              </tr> 
              <tr>
                <td><strong>End Date</strong></td>
                <td><%= @pageant.enddate %></td>
              </tr> 
              <tr>
                <td><strong>Time Zone</strong></td>
                <td><%= @pageant.time_zone %></td>
              </tr> 
              
              <div class="row">
                <% @contestants.each do |contestant| %>
                <div class="col-sm-6 col-md-3">
                <div class="=thumbnail">
       
                <h4 align="left" class="triad"><%= contestant.name %></h4>
                <%= image_tag( contestant.image, size: "180x180" ) %>
                </div>
                </div>
                <% end %>
                </div>