<div align="center">
    <ul class="list-inline" id="links">
     
      <li>Add Contestant</li>
      <li>Edit Contest</li>
      <li>Delete</li>
    </ul>
  </div>

<div class="panel panel-success col-md-9 ">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-9">
        <%= image_tag @pageant.image_url, class: "img-style"  %></br></br>
        <div class="table-responsive">
          <table class="table">
            <tbody>
              <tr>
                <td><strong>Name</strong></td>
                <td><%= @pageant.name %></td>
              </tr> 
              <tr>
                <td><strong>Description</strong></td>
                <td><%= @pageant.description %></td>
              </tr>
              <tr>
                <td><strong>Category</strong></td>
                <td><%= @pageant.category %></td>
              </tr> 
              <tr>
                <td><strong>Start date</strong></td>
                <td><%= @pageant.startdate %></td>
              </tr> 
              <tr>
                <td><strong>End Date</strong></td>
                <td><%= @pageant.enddate %></td>
              </tr> 
              <tr>
                <td><strong>Time Zone</strong></td>
                <td><%= @pageant.time_zone %></td>
                </tbody>
                </table>
              </tr> 
              </div>
              </div>
              </div>
              </div>
              </div>
          <div class="panel col-md-3">
            <h4>Something Nice here</h4>
          </div>
              
              <div class="row">
                <% @contestants.each do |contestant| %>
                <div class="col-xs-12 col-sm-9 col-md-offset-3">
                  <div class="well col-md-8">
                    <div class="=thumbnail">
                      <h4><%= contestant.name %></h4>
                      <%= image_tag( contestant.image, size: "150x150", class: "img-style" ) %>
                      
                       <button type="button" class="btn btn-success btn-lg btn-block" >Vote</button>
                    </div>
                  </div>
                </div>
                <% end %>
                </div>
                
                
                <!--Second Profile begins here-->
                
                
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-offset-3">
            <div class="well well-sm centered">
                <div class="row">
                <% @contestants.each do |contestant| %>
                    <div class="col-sm-6 col-md-4">
                         <%= image_tag( contestant.image, size: "150x150", class: "img-style" ) %>
                    </div>
                    <div class="col-sm-6 col-md-8">
                    		<h4>Contestant Number: <%= contestant.con_num %></h4>
                          <h4>
                            <h4><%= contestant.name %></h4>
                           </h4>
                        <p>
                            <i class="glyphicon glyphicon-check"></i>25,000 Votes</p>

                            <button type="button" class="btn btn-success btn-md btn-block" >Vote</button>
                            <hr class="style1">
                     
                    </div>
                    <% end %>
                </div>
            </div>
        </div>


          