<nav class="navbar navbar-default navbar-fixed-top" >
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "ezyvote", root_path, class: "navbar-brand", id: "logo" %>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><%= link_to "Home", root_path, class: "links" %></li>
            <li><%= link_to "Contestants", pageants_path, class: "links" %></li>
            <li><%= link_to "Create Vote", new_pageant_path, class: "links" %></li>
            
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
          
          <li><%= link_to 'Edit profile', edit_user_registration_path, :class => 'links' %></li>
          <li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'links' %></li>
          
            <% else %>
          <li><%= link_to "Sign up", new_user_registration_path, :class => 'links' %></li>
          <li><%= link_to "Login", new_user_session_path, :class => 'links' %></li>
          
          <% end %>
        
    </div>
  </div>
</nav>
